@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800;900&display=swap");

/* Universal CSS Reset */

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}

/* Set fonts to a consistent baseline */
body,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
}

/* Reset header tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

/* Reset form elements */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Standardize box-sizing */
html {
  box-sizing: border-box;
}

/* Style the root element */
html {
  font-size: 16px; /* You can adjust this to set your base font size */
}

/* Set up some basic styling */
body {
  line-height: 1.6;
}

/* Add your own custom styles below this line */
